pytest-cov==2.7.1
mock; python_version <= '3.3'
ipaddress; python_version < '3.3'
../../python-common
kubernetes
requests-mock
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability